form(ng-submit='actionFromCtrl.submit(action); $parent.close()')
  div(ng-repeat="field in action.fields")
    div.form-group(ng-if="field.type == 'checkbox'  || field.type == 'radio'")
      label {{field.title}}
      div.checkbox.radio(ng-repeat="option in field.value")
        label
          input(
            type="{{field.type}}",
            name="{{field.name}}",
            value="{{option.value}}",
            ng-checked="option.selected"
          )
          | {{option.title}}
    div.form-group(ng-if="field.type != 'checkbox'  && field.type != 'radio'")
      label(ng-if="field.type != 'hidden'") {{field.title}}
      input.form-control(
        type="{{field.type}}",
        name="{{field.name}}",
        value="{{field.value}}"
      )
  input.btn.btn-primary(type="submit")
